.folder-container {
    width: 30vw;
    height: 100vh;
    /* padding-top: 20px; */
    border: 1px solid black;
    border-top: none;
    float: left;
}

.add-btn {
    border: 1px solid black;
    height: 50px;
    margin: auto;
    margin: 1vw;
    width: 28vw;
}

.select {
    border: 1px solid black;
    height: 50px;
    margin: auto;
    margin: 1vw;
    width: 28vw;
}

.folder-header{
    width: 30vw;
    border: 1px solid black;
    border-top: none;
    margin: 0;
    text-align: center;
}

.note-folder{
    border: 1px solid black;
    height: 50px;
    margin: auto;
    margin: 1vw;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-btn{
    width: 26vw;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin: 3px 2vw 3px 3vw;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: black;
}