.note-cont {
    width: 67vw;
    height: 100%;
    float: right;
    border-bottom: 1px solid black;
}

.add-note-btn {
    height: 60px;
    width: 30vw;
    margin-bottom: 10px;
}

button {
    background-color: white;
    border: 1px solid black;
}

.note-header{
    margin-top: 0;
}