/* .each-note {
    border: 1px solid black;
    margin: 10px;
    overflow: auto;
    width: 65vw;
    float: right;
}

.note-name {
    text-align: left;
    padding-left: 20px;
    color: black;
    font-size: 20px;
}

.note-name:hover{
    cursor: pointer;
}

.date {
    text-align: left;
    padding-left: 20px;
}

.delete-btn {
    padding: 5px;
    margin: 7px;
    margin-top: -30px;
    float: right;
}

.note-desc {
    padding: 20px;
} */