.app {
    text-align: center;
}

.app-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
  
.app-header a {
    color: white;
}
 
.sidebar {
    box-sizing: border-box;
    width: 20%;
    float: left;
    text-align: left;
    padding: 1rem;
    padding-bottom: 2rem;
    border: 2px solid lightgray;
    min-height: 80vh;
}
  
.main {
    box-sizing: border-box;
    padding: 1rem;
    padding-left: 3rem;
    width: 66%;
    float: left;
    text-align: left;
}
  
ul {
    list-style: none;
    padding: 0;
}
  
.note {
    display: block;
    box-sizing: border-box;
    padding: .5rem;
    margin-bottom: .5rem;
    border: 1px solid lightgray;
}
  
.folder.selected {
    color: rgb(33, 175, 149);
    font-weight: bold;
}

a{
    color: #282c34;
}

.add-new{
    color: rgb(33, 175, 149);
    font-weight: 800;
    text-decoration: none;
}

#select-folder-err{
    color: rgb(121, 121, 121);
}

button:hover{
    cursor: pointer;
}

#note-deleted {
    margin-top: 150px;
    color: rgb(33, 175, 149);
    font-size: large;
    font-weight: 600;
}

#header {
    font-size: large;
}

@media(max-width: 600px){
    *{
        font-size: small;
    }

    .sidebar {
        width: 30%;
    }

    .main{
        padding-left: 20px;
    }
    input {
        border: 1px solid darkgray;
        margin-bottom: 2px;
    }

    select {
        border: 1px solid darkgray;
    }

    #note-deleted{
        font-size: 20px;
    }
}